<p>Olá <%= @resource.name %>!</p>

<p>Alguém solicitou um link para mudar a sua senha. Você pode fazer isso através do link abaixo:</p>

<p><%= link_to 'Mudar minha senha.', edit_password_url(@resource, reset_password_token: @resource.reset_password_token) %></p>

<p>Caso você não tenha solicitado isso, por favor ignore esse email.</p>
<p>Sua senha não vai mudar até que você o faça, pelo link acima.</p>
