.button{
  border: 5px solid $grey;
  color: #fff  !important;
  padding: 3px 8px;
  background: $grey;
  text-decoration: none;

  @include transition(all .8s ease-in-out);

  &:before{
    color: #fff;
    margin-right: 10px;
  }

  &:hover{
    background: darken($grey, 10%);
  }
}

.button-red{
  @extend .button;
  border: 5px solid $red;
  background: $red;
  &:hover{
    background: darken($red, 10%);
  }
}

.button-green{
  @extend .button;
  border: 5px solid $green;
  background: $green;

  &:hover{
    background: darken($green, 10%);
  }
}

.button-blue{
  @extend .button;
  border: 5px solid $main-color;
  background: $main-color;
  &:hover{
    background: darken($main-color, 10%);
  }
}

.button-cyan{
  @extend .button;
  border: 5px solid $cyan;
  background: $cyan;
  &:hover{
    background: darken($cyan, 10%);
  }
}

.button-orange{
  @extend .button;
  border: 5px solid $orange;
  background: $orange;
  &:hover{
    background: darken($orange, 10%);
  }
}

.button-black{
  @extend .button;
  border: 5px solid $black;
  background: $black;
  &:hover{
    background: darken($black, 10%);
  }
}

.button-pink{
  @extend .button;
  border: 5px solid $pink;
  background: $pink;
  &:hover{
    background: darken($pink, 10%);
  }
}

.button-purple{
  @extend .button;
  border: 5px solid $purple;
  background: $purple;
  &:hover{
    background: darken($purple, 10%);
  }
}

.button-yellow{
  @extend .button;
  border: 5px solid $yellow;
  background: $yellow;
  &:hover{
    background: darken($yellow, 10%);
  }
}
