form, form div.field{
  width: 100%;
  float: left;
  position: relative;
}

form div.field{
  margin-bottom: 20px;
}

form div.field label{
  width: 180px;
  float: left;
  position: relative;
  margin-right: 20px;
  text-align: right;

  height: 30px;
  line-height: 30px;
}

form div.field div.for-radio{
  width: 100%;
  float: left;
  position: relative;
}

form div.field input[type="password"],
form div.field input[type="text"],
form div.field input[type="file"],
form div.field select,
form div.field textarea{
  width: 500px;
  border: 1px solid #ccc;
  padding: 5px;

  @include transition(all .5s ease);

  &:focus{
    border: 1px solid $orange;
    @include box-shadow(0 0 2px $orange);
    outline: none;
  }

  &.error{
    border: 1px solid $red;
    @include box-shadow(0 0 2px $red);
    outline: none;
  }
}

form div.field textarea{
  height: 400px;
  line-height: 1.5;
}

form div.field input[type="radio"], form div.field input[type="checkbox"]{
  float: left;
  position: relative;
  text-align: right;
  margin: 10px 20px 10px 170px;
  height: 20px;
}

form div.field input[type="radio"]{
  margin: 7px 20px 7px 170px;
}

form div.field label.radio, form div.field label.checkbox{
  text-align: left;
  float: left;
  position: relative;
}

form div.actions button,
form div.actions input{
  margin-left: 190px;
}

form div.actions button input{
  // reseting input inside button
  margin: 0;
  border: 0 solid transparent;
  padding: 0;

  // inheriting the right rules
  font: inherit;
  color: inherit;
  background: inherit;
}

form div.field label.error{
  width: auto;
  float: left;
  text-align: center;
  color: #fff;
  background: $red;

  height: 30px;
  line-height: 30px;
  position: absolute;
  top: 2px;
  left: 720px;

  padding: 0 10px;

  z-index: 2;

  &:before{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 7px 5px 7px 0;
    border-color: transparent $red transparent transparent;
    display: block;
    content: " ";
    position: absolute;
    top: 8px;
    left: -5px;
    @include transition(all .3s ease-in-out);
  }
}

form div.field div.tooltip{
  width: auto;
  float: left;
  text-align: center;
  color: #fff;
  background: #000;

  height: 30px;
  line-height: 30px;
  position: absolute;
  top: 2px;
  left: 720px;

  padding: 0 10px;

  z-index: 1;

  &:before{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 7px 5px 7px 0;
    border-color: transparent #000 transparent transparent;
    display: block;
    content: " ";
    position: absolute;
    top: 8px;
    left: -5px;
    @include transition(all .3s ease-in-out);
  }
}

form div.has-current-picture{
  margin-bottom: 90px;
}

form div.field div.current-picture{
  width: 80px;
  height: 80px;
  float: right;

  background: $main-color;

  position: absolute;
  top: 2px;
  left: 720px;

  padding: 10px;

  &:before{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 7px 5px 7px 0;
    border-color: transparent $main-color transparent transparent;
    display: block;
    content: " ";
    position: absolute;
    top: 8px;
    left: -5px;
    @include transition(all .3s ease-in-out);
  }

  img{
    width: 100%;
    float: left;
    position: relative;
  }
}

form div.field div#banner-thumb {
  width: 140px;
  height: 60px;
  float: right;
}

form #product-pictures{
  display: inline-block;
  width: 520px;
  margin-left: 200px;

  img{
    float: left;
    position: relative;
    width: 150px;
    margin: 0 5px 10px 5px;
    border: 5px solid $main-color;
  }
}

form div.field input.file-field-multiple{
  display: none;
}

form div.field label.file-field-multiple{
  @include border-radius(10px);
  @include box-shadow(0 0 10px #ccc);

  width: 100%;
  float: left;
  position: relative;
  text-align: center;
  color: #999;

  font-size: 22px;

  border: 2px dotted $main-color;

  display: block;
  height: 180px;
  line-height: 180px;
}

form div.field label.file-field-multiple span{
  float: left;
  width: 100%;
  display: block;
  height: 70px;
  line-height: 70px;
}

form div.field label.file-field-multiple i{
  font-size: 100px;
  float: left;
  width: 100%;
  display: block;
  margin: 0;
  height: 100px;
  line-height: 100px;
}

form div.upload{
  width: 100%;
  float: left;
  position: relative;

  @include box-shadow(0 0 10px #ccc);
  @include border-radius(5px);

  border: 1px solid #ccc;
  background: #fafafa;
  padding: 5px;
  height: 42px;

  color: #999;
  margin-bottom: 30px;
}

form div.upload span{
  z-index: 99;
  color: #fff;
  float: left;
  position: absolute;
  top: 11px;
  left: 12px;
  text-shadow: 1px 1px 1px #999;
}

form div.progress{
  width: 99%;
  float: left;
  position: relative;
  
  background: transparent;
  height: 30px;

  position: absolute;
  top: 0;
  left: 0;

  margin: 5px;

  @include border-radius(5px);
  z-index: 2;
  border: 1px solid $main-color;
}

form div.progress div.bar{
  float: left;
  position: relative;
  
  height: 28px;

  position: relative;
  top: 0;
  left: 0;

  @include border-radius(4px);
  z-index: 2;

  // background: rgba(200,200,200,.4)

  background-color: $main-color;
  background-image:-webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image:-moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image:-o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-repeat: repeat-x;
  background-size: 30px 30px;
}

form div.progress div.bar{
  -webkit-animation:progress-bar-stripes 2s linear infinite;
  -moz-animation:progress-bar-stripes 2s linear infinite;
  -ms-animation:progress-bar-stripes 2s linear infinite;
  -o-animation:progress-bar-stripes 2s linear infinite;
  animation:progress-bar-stripes 2s linear infinite;
}

@-webkit-keyframes progress-bar-stripes{
  from{
    background-position: 30px 0;
  } 
  to{
    background-position:0 0;
  }
}

@-moz-keyframes progress-bar-stripes{
  from{
    background-position: 30px 0;
  } 
  to{
    background-position:0 0;
  }
}

@-ms-keyframes progress-bar-stripes{
  from{
    background-position: 30px 0;
  } 
  to{
    background-position:0 0;
  }
}

@-o-keyframes progress-bar-stripes{
  from{
    background-position:0 0;
  } 
  to{
    background-position: 30px 0;
  }
}

@keyframes progress-bar-stripes{
  from{
    background-position: 30px 0;
  } 
  to{
    background-position:0 0;
  }
}
