header.main{
  width: 100%;
  float: left;
  position: relative;
  height: 60px;
  line-height: 60px;

  background-color: $blue;
  color: #fff;
}

header.main a{
  color: #fff;
  text-decoration: none;
}

header.main div.has-icons{
  padding-right: 20px;

  background: rgba(0,0,0,.1);
}

header.main div.has-icons, header.main div.has-icons i, header.main p{
  float: left;
  position: relative;
  height: 60px;
  line-height: 60px;
}

header.main i{
  display: block;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

header.main div.has-icons p{
  margin: 0;
  text-align: center;
}

header.main div.admin{
  float: left;
  position: relative;
  padding: 0 0 0 20px;
  background: rgba(255,255,255,.2);
  height: 60px;
  cursor: pointer;
  min-width: 220px;

  ul{
    display: none;
  }
}

header.main div.admin small{
  font-size: 13px;
  line-height: 12px;
  height: 12px;
  display: block;
  margin-top: 10px;
}

header.main div.admin p{
  font-size: 18px;
  line-height: 30px;
  height: 30px;
  background: transparent;
  float: none;
  margin: 0 60px 0 0;
}

header.main div.admin i{
  width: 60px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  float: right;
  position: relative;
  margin-top: 30px;
}

header.main div.admin ul{
  background: #fff;
  border: 1px solid #e2e2e2;
  width: 90%;
  color: #000;
  list-style: none;
  position: relative;
  z-index: 15;
}

header.main div.admin ul li{
  line-height: 30px;
}

header.main div.admin ul li ~ li{
  border-top: 1px solid #e2e2e2;
}

header.main div.admin ul i{
  color: #000;
  display: block;
  width: 20px;
  height: 30px;
  line-height: 30px;
  margin: 0;
  display: inline-block;
  float: none;
  padding: 10px 10px;
}

header.main div.admin ul span{
  color: #000;
  display: block;
  height: 20px;
  line-height: 20px;
  display: inline-block;
}

header.main div.admin:hover{
  ul{
    display: block;
  }
}

header.main div.contacts, header.main div.contacts p, header.main div.contacts i{
  background: $green;
}

header.main div.contacts span{
  background: darken($green, 15%);
  padding: 10px;
  border-radius: 10%;
}

header.main div.contacts{
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
