ul.list, ul.list li{
  width: 100%;
  float: left;
  position: relative;
}

ul.list{
  @include border-radius(4px); 
  border: 1px solid #ccc;
  list-style: none;
  margin-bottom: 20px;
}

ul.list li{
  height: 50px;
  line-height: 50px;
  padding: 0 10px;

  a{
    color: $main-color;
    @include transition(all .5s ease-in-out);
    &:hover{
      color: darken($main-color, 15%);
    }
  }
}

ul.list li ~ li{
  border-top: 1px solid #ccc;
}

ul.list li.odd{
  background: #fafafa;
}

ul.list li.even{
  background: #fff;
}

ul.list span.sku{
  width: 10%;
  float: left;
  position: relative;
  text-align: center;
}

ul.list span.name{
  width: 48%;
  padding: 0 1%;

  float: left;
  position: relative;

  height: 2em;
  line-height: 2em;

  border-left: 1px dotted $main-color;

  margin-top: 0.5em;
  margin-right: 10px;
}

ul.list span.price{
  width: 10%;
  float: left;
  position: relative;
  text-align: center;
}

ul.list span.available{
  font-family: 'FontAwesome';
  width: 5%;
  float: left;
  position: relative;
  text-align: center;
}

ul.list span.green{
  color: $green;
}

ul.list span.red{
  color: $red;
}

ul.list li.product{
  padding: 0 10px 0 0;
}

h3.list-head{
  width: 100%;
  float: left;
  position: relative;

  color: #fff;
  background: $main-color;
  margin: 0;
  border: 0;
  @include border-radius(3px 3px 0 0);
  margin-bottom: -3px;
  padding-bottom: 3px;
}

h3.list-head span{
  float: left;
  position: relative;
  text-align: center;
}

h3.list-head span.sku{
  width: 10%;
}

h3.list-head span.name{
  width: 49%;
  text-align: left;
  padding-left: 1%;
  margin-right: 10px;
}

h3.list-head span.price{
  width: 10%;
}

h3.list-head span.available{
  width: 5%;
}

div.pagination{
  width: 100%;
  float: left;
  position: relative;
  margin: 10px 0 20px 0;
  padding-right: 5px;
}

div.pagination nav{
  float: right;
  position: relative;
  padding-right: 0;
}

div.pagination nav span{
  float: left;
  position: relative;
  display: block;
  border-left: 5px solid $main-color;
  border-bottom: 5px solid $main-color;
  border-top: 5px solid $main-color;
  margin: 0;

  a{
    float: left;
    position: relative;
    display: block;
    padding: 5px 10px;
    color: #fff;
    background: $main-color;
    text-decoration: none;
  }

  &.current{
    float: left;
    position: relative;
    display: block;
    padding: 5px 10px;
    background: lighten($main-color, 20%);
    color: #fff;
    border-right: 5px solid $main-color;
    margin-right: -5px;
  }

  &:hover{
    background: lighten($main-color, 20%);
    a{
      color: #fff;
      background: lighten($main-color, 20%);
    }
    color: #fff;
    background: lighten($main-color, 20%);
  }
}

div.pagination nav span.prev, div.pagination nav span.next{
  font-family: 'FontAwesome';
}

div.pagination nav span.gap{
  float: left;
  position: relative;
  display: block;
  padding: 5px 10px;
  background: $main-color;
  color: #fff;
}

div.pagination nav span.next{
  border-right: 5px solid $main-color;
}

div.pagination nav span.first, div.pagination nav span.last{
  display: none;
}

ul.pics{
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 30px;
  list-style: none;
}

ul.pics li{
  float: left;
  position: relative;
  width: 23%;
  margin: 1%;

  border: 5px solid $main-color;

  -webkit-background-size: 200% auto !important;
     -moz-background-size: 200% auto !important;
          background-size: 200% auto !important;
}

ul.pics li img{
  float: left;
  position: relative;
  width: 100%;
}

ul.pics div.options{
  float: left;
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 20px;

  background: #000;
  background: rgba(0,0,0,0.5);
  text-align: right;
  a.delete{
    padding: 3px 0 3px 8px;
  }
}
