.for-preview{
  display: none;
}

div.md-editor{
  width: 520px;
  float: left;
  position: relative;
}

div.md-header{
  width: 502px;
  float: left;
  position: relative;
  background: lighten($grey, 10%);
  padding: 5px;
  margin-bottom: 5px;
}

div.md-header .btn-group, div.md-header .btn-small{
  float: left;
  position: relative;
}

div.md-header .btn-small{
  float: left;
  position: relative;
  margin-right: 1px;
  background: lighten($main-color, 10%);
  color: #fff;
  border: 5px solid lighten($main-color, 10%);

  &:hover{
    background: $main-color;
  }
}

div.md-header .btn-group{
  margin-right: 10px;
}

div.md-header .icon{
  font-family: 'FontAwesome';
  float: left;
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

div.md-header {

  .icon-bold{
    &:before{
      content: "\f032";
    }
  }

  .icon-italic{
    &:before{
      content: "\f033";
    }
  }

  .icon-font{
    &:before{
      content: "\f031";
    }
  }

  .icon-globe{
    &:before{
      content: "\f0ac";
    }
  }

  .icon-picture{
    &:before{
      content: "\f03e";
    }
  }

  .icon-list{
    &:before{
      content: "\f0ca";
    }
  }

}
