/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding: 0;
  margin: 0;
}
fieldset, img { 
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol, ul {
  list-style: none;
}
address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}
q:before, q:after {
  content: "";
}
abbr, acronym { 
  border: 0;
}
a{
  text-decoration:none;
}
object{
  outline:none;
}
.bold{
  font-weight: bold;
}
.italic{
  font-style:italic;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

a img {border: 0;}

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}

@font-face {
	font-family: "Entypo";
  src: local("☺"), url(font-path('entypo/entypo.eot') + "?#iefix") format('embedded-opentype'),
       url(font-path('entypo/entypo.woff')) format('woff'),
       url(font-path('entypo/entypo.ttf'))  format('truetype'),
       url(font-path('entypo/entypo.svg') + "#entypo") format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "EntypoSocial";
  src: local("☺"), url(font-path('entypo/entypo-social.eot') + "?#iefix") format('embedded-opentype'),
       url(font-path('entypo/entypo-social.woff')) format('woff'),
       url(font-path('entypo/entypo-social.ttf'))  format('truetype'),
       url(font-path('entypo/entypo-social.svg') + "#entypo") format('svg');
	font-weight: normal;
	font-style: normal;
}


// Admin

body{
  background: #f0f0f0 url(asset-path('admin/menu-bg-y.gif', image)) repeat-y top left;
  p{
    margin-bottom: 10px;
  }
}

body, html{
  height: 100% !important;
}

header{
  width: 100%;
  float: left;
  position: relative;
  background: #86a7d4;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#86a7d4), to(#586d88));
  background: -webkit-linear-gradient(#86a7d4, #586d88);
  background: -moz-linear-gradient(#86a7d4, #586d88);
  background: -ms-linear-gradient(#86a7d4, #586d88);
  background: -o-linear-gradient(#86a7d4, #586d88);
  background: linear-gradient(#86a7d4, #586d88);
  -pie-background: linear-gradient(#86a7d4, #586d88);
  -webkit-box-shadow: 0 0 10px #000, inset 0 -2px 2px #3c4b5e;
  -moz-box-shadow: 0 0 10px #000, inset 0 -2px 2px #3c4b5e;
  box-shadow: 0 0 10px #000, inset 0 -2px 2px #3c4b5e;
  height: 45px;

  p#logout{
    float: right;
    position: relative;
    margin: 7px;
    text-align: center;
    font: 16px Arial, Verdana, Tahoma;
    text-align: center;
    color: #fff;
    text-shadow: 1px 0 0 #133b04;
    padding: 4px;
    background: #a60101;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#a60101), to(#d50101));
    background: -webkit-linear-gradient(#a60101, #d50101);
    background: -moz-linear-gradient(#a60101, #d50101);
    background: -ms-linear-gradient(#a60101, #d50101);
    background: -o-linear-gradient(#a60101, #d50101);
    background: linear-gradient(#a60101, #d50101);
    -pie-background: linear-gradient(#a60101, #d50101);
    -webkit-box-shadow: inset 0 2px 3px #740101;
    -moz-box-shadow: inset 0 2px 3px #740101;
    box-shadow: inset 0 2px 3px #740101;
    border: 1px solid #1c4f08;
    -pie-background: linear-gradient(#1d6b06, #25900d);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -html-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    a{
      color: #fff;
      font-size: 13px;
      text-transform: uppercase;
      padding: 0 7px;
      @extend .bold;
      span{
        float: right;
        position: relative;
        font: 33px "Entypo";
        margin: 2px;
        font-weight: normal;
        height: 10px;
        line-height: 16px;
      }
    }
  }

  #alert{
    float: left;
    position: relative;
    width: 60%;
    margin: 7px;
    p{
      float: left;
      position: relative;
      width: 100%;
      text-align: center;
      font: 16px Arial, Verdana, Tahoma;
      text-align: center;
      color: #fff;
      text-shadow: 1px 0 0 #133b04;
      padding: 4px;
      background: #a60101;
      background: -webkit-gradient(linear, 0 0, 0 bottom, from(#a60101), to(#d50101));
      background: -webkit-linear-gradient(#a60101, #d50101);
      background: -moz-linear-gradient(#a60101, #d50101);
      background: -ms-linear-gradient(#a60101, #d50101);
      background: -o-linear-gradient(#a60101, #d50101);
      background: linear-gradient(#a60101, #d50101);
      -pie-background: linear-gradient(#a60101, #d50101);
      -webkit-box-shadow: inset 0 2px 3px #740101;
      -moz-box-shadow: inset 0 2px 3px #740101;
      box-shadow: inset 0 2px 3px #740101;
      border: 1px solid #1c4f08;
      -pie-background: linear-gradient(#1d6b06, #25900d);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      -html-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      cursor: pointer;
    }
  }

  #notice{
    width: 60%;
    margin: 7px;
    float: left;
    position: relative;
    p{
      float: left;
      position: relative;
      width: 100%;
      text-align: center;
      font: 16px Arial, Verdana, Tahoma;
      text-align: center;
      color: #fff;
      text-shadow: 1px 0 0 #133b04;
      padding: 4px;
      background: #1d6b06;
      background: -webkit-gradient(linear, 0 0, 0 bottom, from(#1d6b06), to(#25900d));
      background: -webkit-linear-gradient(#1d6b06, #25900d);
      background: -moz-linear-gradient(#1d6b06, #25900d);
      background: -ms-linear-gradient(#1d6b06, #25900d);
      background: -o-linear-gradient(#1d6b06, #25900d);
      background: linear-gradient(#1d6b06, #25900d);
      -webkit-box-shadow: inset 1px 0 0 #5a9316;
      -moz-box-shadow: inset 1px 0 0 #5a9316;
      box-shadow: inset 1px 0 0 #5a9316;
      border: 1px solid #1c4f08;
      -pie-background: linear-gradient(#1d6b06, #25900d);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      -html-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      cursor: pointer;
    }
  }

}

#sidebar{
  float: left;
  position: relative;
  width: 200px;
	height: 100%;

  img{
    float: left;
    position: relative;
    margin: 20px 0 20px 10px;
    width: 180px;
    z-index: -1;
  }

  ul{
    float: left;
    position: relative;
    width: 100%;
    font: 14px Arial, Verdana, Tahoma;
    border-bottom: 1px solid #000;
    @extend .bold;
    li{
      float: left;
      position: relative;
      border: 0;
      border-top: 1px solid #000;
      a{
        float:left; position: relative;
        padding: 10px;
        width: 180px;
        background: #475363;
        background: -webkit-gradient(linear, 0 0, 0 bottom, from(#475363), to(#2c353f));
        background: -webkit-linear-gradient(#475363, #2c353f);
        background: -moz-linear-gradient(#475363, #2c353f);
        background: -ms-linear-gradient(#475363, #2c353f);
        background: -o-linear-gradient(#475363, #2c353f);
        background: linear-gradient(#475363, #2c353f);
        -pie-background: linear-gradient(#475363, #2c353f);
        color: #c9d9f0;
        text-shadow: 0 2px 2px #20252c;
        -webkit-box-shadow: 0 -1px 0 #222930, inset 0 1px 0 #737c88;
        -moz-box-shadow: 0 -1px 0 #222930, inset 0 1px 0 #737c88;
        box-shadow: 0 -1px 0 #222930, inset 0 1px 0 #737c88;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        font-weight: bold;
        span{
          float:left; position: relative;
          font: 33px "Entypo";
          font-weight: normal;
          margin-right: 10px;
          width: 20px;
          text-align: center;
          height: 10px;
          line-height: 16px;
        }
        span.number{
          float: right;
          font: 12px Arial, Verdana, Tahoma;
          position: absolute;
          top: 50%;
          right: 10px;
          margin-top: -7px;
          font-weight: bold;
          border-radius: 5px;
          height: auto;
          line-height: auto;
          color: #fff  !important;
          color: #fff !important;
          background: #a60101;
          background: -webkit-gradient(linear, 0 0, 0 bottom, from(#a60101), to(#d50101));
          background: -webkit-linear-gradient(#a60101, #d50101);
          background: -moz-linear-gradient(#a60101, #d50101);
          background: -ms-linear-gradient(#a60101, #d50101);
          background: -o-linear-gradient(#a60101, #d50101);
          background: linear-gradient(#a60101, #d50101);
          -pie-background: linear-gradient(#a60101, #d50101);
          -webkit-box-shadow: inset 0 2px 3px #740101;
          -moz-box-shadow: inset 0 2px 3px #740101;
          box-shadow: inset 0 2px 3px #740101;
          border: 1px solid #1c4f08;
          -pie-background: linear-gradient(#1d6b06, #25900d);
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -o-border-radius: 3px;
          -html-border-radius: 3px;
          -ms-border-radius: 3px;
          border-radius: 3px;
          width: auto;
          min-width: auto;
          padding: 0 3px;
        }
        &:hover{
          color: #fff;
          background: #52c3fe;
          background: -webkit-gradient(linear, 0 0, 0 bottom, from(#52c3fe), to(#1e73e7));
          background: -webkit-linear-gradient(#52c3fe, #1e73e7);
          background: -moz-linear-gradient(#52c3fe, #1e73e7);
          background: -ms-linear-gradient(#52c3fe, #1e73e7);
          background: -o-linear-gradient(#52c3fe, #1e73e7);
          background: linear-gradient(#52c3fe, #1e73e7);
          -pie-background: linear-gradient(#52c3fe, #1e73e7);
        }
      }
      &.current{
        a{
          color: #fff;
          background: #52c3fe;
          background: -webkit-gradient(linear, 0 0, 0 bottom, from(#52c3fe), to(#1e73e7));
          background: -webkit-linear-gradient(#52c3fe, #1e73e7);
          background: -moz-linear-gradient(#52c3fe, #1e73e7);
          background: -ms-linear-gradient(#52c3fe, #1e73e7);
          background: -o-linear-gradient(#52c3fe, #1e73e7);
          background: linear-gradient(#52c3fe, #1e73e7);
          -pie-background: linear-gradient(#52c3fe, #1e73e7);
        }
      }
    }
  }

}

#content{
  float:left; position: relative;

  h1{
    font: 30px Arial, Verdana, Tahoma;
    color: #606060;
		font-weight: bold;
    text-transform: uppercase;
    margin: 20px;
  }

  hr{
    float:left; position: relative;
    width: 100%;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #bbb;
		margin: 20px 0;
  }

}

#yield{
  float:left; position: relative;
  width: 660px;
  margin: 0 20px 20px 20px;
  padding: 20px;
  border: 1px solid #c7c7c7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -html-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background: #fafafa;
  font: 14px Arial, Verdana, Tahoma;
  color: #555;
}


ul.list{
  list-style: none;
  display: inline-block;
  padding:0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  li{
    padding: 13px;
    margin-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -html-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #c7c7c7;
    &.product{
      width: 630px;
      float:left; position: relative;
    }
    a{
      color: #555;
      &:hover{
        text-decoration: underline;
      }
      &.product{
        float:left; position: relative;
        vertical-align: middle;
        height: 50px;
        line-height: 50px;
        margin-left: 10px;
      }
    }
    img.product-thumb{
      float:left; position: relative;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      -html-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      border: 1px solid #555;
    }
    .right-for-product{
      margin-top: 16px;
    }
    .right{
      a{
        text-decoration: none;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
}

.odd{ background-color:#F1F5FA; }
.even{ background-color:#FFF; }

.green{
  text-align: center;
  text-align: center;
  color: #fff !important;
  text-shadow: 1px 0 0 #133b04;
  padding: 4px;
  background: #3d831b;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#3d831b), to(#54a82a));
  background: -webkit-linear-gradient(#3d831b, #54a82a);
  background: -moz-linear-gradient(#3d831b, #54a82a);
  background: -ms-linear-gradient(#3d831b, #54a82a);
  background: -o-linear-gradient(#3d831b, #54a82a);
  background: linear-gradient(#3d831b, #54a82a);
  -pie-background: linear-gradient(#3d831b, #54a82a);
  -webkit-box-shadow: inset 0 2px 3px #375628;
  -moz-box-shadow: inset 0 2px 3px #375628;
  box-shadow: inset 0 2px 3px #375628;
  border: 1px solid #1c4f08;
  -pie-background: linear-gradient(#1d6b06, #25900d);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -html-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}


.red{
  text-align: center;
  text-align: center;
  color: #fff !important;
  text-shadow: 1px 0 0 #133b04;
  padding: 4px;
  background: #a60101;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#a60101), to(#d50101));
  background: -webkit-linear-gradient(#a60101, #d50101);
  background: -moz-linear-gradient(#a60101, #d50101);
  background: -ms-linear-gradient(#a60101, #d50101);
  background: -o-linear-gradient(#a60101, #d50101);
  background: linear-gradient(#a60101, #d50101);
  -pie-background: linear-gradient(#a60101, #d50101);
  -webkit-box-shadow: inset 0 2px 3px #740101;
  -moz-box-shadow: inset 0 2px 3px #740101;
  box-shadow: inset 0 2px 3px #740101;
  border: 1px solid #1c4f08;
  -pie-background: linear-gradient(#1d6b06, #25900d);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -html-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.button-edit{
  float:left; position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -html-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #5e6c82;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5e6c82), to(#323a46));
  background: -webkit-linear-gradient(#5e6c82, #323a46);
  background: -moz-linear-gradient(#5e6c82, #323a46);
  background: -ms-linear-gradient(#5e6c82, #323a46);
  background: -o-linear-gradient(#5e6c82, #323a46);
  background: linear-gradient(#5e6c82, #323a46);
  -pie-background: linear-gradient(#5e6c82, #323a46);
  font: 15px Arial, Verdana, Tahoma;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  padding: 7px;
  margin: 0;
  border: 1px solid #404b59;
  -webkit-box-shadow: inset 0 1px 0 #a0a7b4;
  -moz-box-shadow: inset 0 1px 0 #a0a7b4;
  box-shadow: inset 0 1px 0 #a0a7b4;
  cursor: pointer;
}

.button{
  float:left; position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -html-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: #5e6c82;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5e6c82), to(#323a46));
  background: -webkit-linear-gradient(#5e6c82, #323a46);
  background: -moz-linear-gradient(#5e6c82, #323a46);
  background: -ms-linear-gradient(#5e6c82, #323a46);
  background: -o-linear-gradient(#5e6c82, #323a46);
  background: linear-gradient(#5e6c82, #323a46);
  -pie-background: linear-gradient(#5e6c82, #323a46);
  font: 15px Arial, Verdana, Tahoma;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  padding: 7px;
  margin: 15px 0 0 0;
  border: 1px solid #404b59;
  -webkit-box-shadow: inset 0 1px 0 #a0a7b4;
  -moz-box-shadow: inset 0 1px 0 #a0a7b4;
  box-shadow: inset 0 1px 0 #a0a7b4;
  cursor: pointer;
}

.button-red{
  float:left; position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -html-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font: 15px Arial, Verdana, Tahoma;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  padding: 7px;
  margin: 15px 0 0 0;
  border: 1px solid #404b59;
  background: #a60101;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#a60101), to(#d50101));
  background: -webkit-linear-gradient(#a60101, #d50101);
  background: -moz-linear-gradient(#a60101, #d50101);
  background: -ms-linear-gradient(#a60101, #d50101);
  background: -o-linear-gradient(#a60101, #d50101);
  background: linear-gradient(#a60101, #d50101);
  -pie-background: linear-gradient(#a60101, #d50101);
  -webkit-box-shadow: inset 0 2px 3px #740101;
  -moz-box-shadow: inset 0 2px 3px #740101;
  box-shadow: inset 0 2px 3px #740101;
}

.left{
  float: left;
}

form{
  float:left; position: relative;
  width: 100%;

  input[disabled]{
    opacity: 0.5;
    -moz-opacity: 0.5;
    filter:alpha(opacity=50);
  }

  .nested-field{
    float:left; position: relative;
    width: 220px;
    margin-bottom: 10px;
    margin-top: 10px;
    select{
      width: 200px;
      height: 28px;
      line-height: 28px;
      padding: 10px;
      font-size: 18px !important;
    }
  }
  .field, .fields, .field-for-select{
    width: 100%;
    float:left; position: relative;

    label{
      float:left; position: relative;
      width: 100%;
      font: 14px Arial, Verdana, Tahoma;
      color: #555;
      margin-bottom: 5px;
      &.category{
        width: 190px;
        clear: both;
      }
    }

    input{
      float:left; position: relative;
      margin-bottom: 5px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      -html-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      border: 1px solid #c7c7c7;
      width: 652px;
      padding: 5px;
      color: #777;
      font: 14px Arial, Verdana, Tahoma;
      &.category{
        width: 190px;
        margin-right: 15px;
        clear: both;
      }
      &[type="file"]{
        margin: 10px 0;
      }
      &[type="submit"]{
        -webkit-transition: all .8s ease-in-out;
        -moz-transition: all .8s ease-in-out;
        -o-transition: all .8s ease-in-out;
        -ms-transition: all .8s ease-in-out;
        transition: all .8s ease-in-out;
      }
    }

    textarea{
      float:left; position: relative;
      margin-bottom: 5px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      -html-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      height: 130px;
      border: 1px solid #c7c7c7;
      width: 652px;
      padding: 5px;
      color: #777;
      font: 14px Arial, Verdana, Tahoma;
    }

    select{
      font-size: 16px;
      margin-bottom: 10px;
    }

    select.events{
      width: 100%;
      float:left; position: relative;
      margin-bottom: 10px;
      font: 16px Arial, Verdana, Tahoma;
    }

  }

  .fields{
    width: 660px;
    margin: 5px 0;
  }

}

.field{
  margin-bottom: 10px;
  p{
    float:left; position: relative;
  }
  a.cheatsheet{
    float:left; position: relative;
    position: absolute;
    top: 0;
    right: 0;
    color: #f00;
    text-decoration: underline;
    cursor: pointer;
    z-index: 99;
  }
}

.field-for-checkbox{
  float:left; position: relative;
  width: 100%;
  input{
    float:left; position: relative;
  }
  label{
    float:left; position: relative;
		margin-left: 10px;
		margin-top: -1px;
  }
}

h3{
  font: 23px Arial, Verdana, Tahoma;
  width: 100%;
  display: inline-block;
  text-transform: uppercase;
  @extend .bold;
  border-bottom: 1px solid #888;
  margin-bottom: 10px;
  margin-top: 10px;
}

h6{
  font: 23px Arial, Verdana, Tahoma;
  float:left; position: relative;
  width: 100%;
  text-transform: uppercase;
  @extend .bold;
  border-bottom: 1px solid #888;
  margin-bottom: 20px;
  margin-top: 40px;
}

h2{
  font: 23px Arial, Verdana, Tahoma;
  float:left; position: relative;
  width: 100%;
  text-transform: uppercase;
	font-weight: bold;
  border-bottom: 1px solid #888;
  margin-bottom: 10px;
  margin-top: 10px;
}

label.error{
  float:left; position: relative;
  width: 100%;
  text-shadow: 1px 1px 0 #ccc;
  color: #f00 !important;
}

input[type="submit"]{
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  -ms-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

ul.errors{
  float:left; position: relative;
  @extend .red;
  width: 640px;
  padding: 10px;
  border: 1px solid #fff;
  margin: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -html-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  li{
    float:left; position: relative;
    width: 100%;
    padding: 5px 0;
  }
}

.hidden-fields{
  display: none !important;
}

.actions{
  width: 100%;
  float: left; position: relative;
  margin-bottom: 20px;
}

.devise-button{
	@extend .button;
	margin-right: 10px;
}

strong{
  font-weight: bold;
}

em{
  font-style: italic;
}

.hidden-fields{
  display: none !important;
}

.button_to{
  width: auto;
  float: none;
  display: inline-block;
  font-size: 14px;
  margin-top: -10px;
  cursor: pointer;
}

.right{ float: right;}

p.icon{
  display: inline-block;
  width: 90px;
  height: 90px;
  padding: 20px;
  text-align: center;
}

#pictures{
  width: 100%;

  .edit-picture{
    width: 160px;
    height: 160px;
    margin-bottom: 10px;
    position: relative;
    float: left;
    margin: 5px 5px 0 0;
  }

  .button_to{
    z-index: 9999999;
    float: left;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    cursor: auto;
  }

  .red{
    cursor: pointer;
    float: right;
    font-size: 14px;
  }

}

.upload{
  width: 100%;
  position: relative;
  float: left;
}

.progress .bar{
  height: 20px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
-webkit-background-size: 40px 40px;
   -moz-background-size: 40px 40px;
        background-size: 40px 40px;
  background-color:#62c462;
  background-image:-webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image:-moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image:-o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  display: block;
}

@-webkit-keyframes progress-bar-stripes{
  from{
    background-position:40px 0;
  } 
  to{
    background-position:0 0;
  }
}

@-moz-keyframes progress-bar-stripes{
  from{
    background-position:40px 0;
  } 
  to{
    background-position:0 0;
  }
}

@-ms-keyframes progress-bar-stripes{
  from{
    background-position:40px 0;
  } 
  to{
    background-position:0 0;
  }
}

@-o-keyframes progress-bar-stripes{
  from{
    background-position:0 0;
  } 
  to{
    background-position:40px 0;
  }
}

@keyframes progress-bar-stripes{
  from{
    background-position:40px 0;
  } 
  to{
    background-position:0 0;
  }
}

.progress{
  height:20px;
  margin-top:10px;
  margin-bottom: 10px;
  overflow:hidden;
  background-color:#f7f7f7;
  background-image:-moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image:-webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image:-o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image:linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat:repeat-x;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  filter:progid:dximagetransform.microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.bar{
  -webkit-animation:progress-bar-stripes 2s linear infinite;
  -moz-animation:progress-bar-stripes 2s linear infinite;
  -ms-animation:progress-bar-stripes 2s linear infinite;
  -o-animation:progress-bar-stripes 2s linear infinite;
  animation:progress-bar-stripes 2s linear infinite;
}
