<div id="confirmable">
  <h2>Confimação</h2>
  <p>Você vai deletar o admin <%= @admin.name %>. <br>Tem certeza?</p>

  <div class="button-holder">
    <button onclick="javascript:Avgrund.hide();" class="button-green back">Cancelar</button>
    <%= link_to (icon 'check-square-o', "Deletar"), [:admin, @admin], data: {remote: true}, method: :delete, class: "button-red" %>
  </div><!-- end of button-holder -->
</div><!-- end of confirmable -->
